@import "../../../partials/responsive";


:host{
    height: 100%;
    width: 100%;
    background-color: rgb(51, 51, 51);
    overflow-y: auto;
}

.signin-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    

    .signin, .signup{
        width: 90%;
        height: 700px;
        max-width: 400px;

        h1{
            @include md{
                font-size: 50px;
            }
        }
        h4{
            @include md{
                font-size: 25px;
            }
        }

        .default-bg:hover{
            background-color: darken($color: #f4923a, $amount: 20) !important;
        }
        .default-bg:disabled:hover{
            background-color: rgba(255, 255, 255, 0.12) !important;
        }
        .twitter-bg:hover{
            background-color: #0086ca !important;
        }
        .facebook-bg:hover{
            background-color: #344e86 !important;
        }
        .google-bg:hover{
            background-color: #2a75f3 !important;
        }
    }

}