/* You can add global styles to this file, and also import other style files */
@import "partials/normalize";


@import '~@angular/material/theming';
@include mat-core();
$memeshub-primary: mat-palette($mat-yellow, 900);
$memeshub-accent:  mat-palette($mat-yellow, 900);
$memeshub-warn:    mat-palette($mat-red);
$memeshub-theme: mat-dark-theme($memeshub-primary, $memeshub-accent, $memeshub-warn);
@include angular-material-theme($memeshub-theme);

.animated{
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }

@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}